<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>Index</title>
</head>
<body>
    <h1 style="text-align: center">Vtrendo Admin (Backend)</h1>
    <div>
        <a href="/products" style="text-decoration: none;"><h2>All Products</h2></a>
    </div>
    <div>
        <h2>Product Categories</h2>
    </div>
    <div>
        <h2>Orders</h2>
    </div>
    <div>
        <h2>Customers</h2>
    </div>
    <div>
        <a href="/subscribers" style="text-decoration: none;"><h2>Subscribers</h2></a>
    </div>
    <div>
        <h2>Help-Desk</h2>
    </div>

</body>
</html>