<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribers</title>
</head>
<body>
    <h1 style="text-align: center">Subscribers</h1>
    <ul>
        <% for(let subscriber of subscribers) { %>
            <li><%= subscriber.email %></li>
            <form action="/subscribers/<%=subscriber._id%>?_method=DELETE" method="POST">
                <button>Cancel</button>
             </form>
        <% } %>
        <br>
        <br>
        <button><a href="/">Back to Index Page</a></button>
    </ul>
</body>
</html>